{% extends 'base.html' %}

{% block content %}

<div class = 'container'>
    <div class = 'row'>
      {% for product in products %}
        
        <div class = 'col-md-4 col-lg-4'>
          <div class="card" style="width: 18rem;">
              <img src="{{product.image.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">{{product.name}}</h3>
                <h4 class="card-text">${{product.price}}</h4>
                <a  class="btn btn-primary addtocart" data-action = "add" data-product = "{{product.id}}">Add to Cart</a>
              </div>
            </div>
        </div>
        {% endfor %}

        
      

        

       

    </div>
</div>




{% endblock %}
